01-flow.json
[
    {
        "id": "fd827f1bf55e69ed",
        "type": "http in",
        "z": "944205b3d812d46e",
        "name": "",
        "url": "/unity/get",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "317a62295ff18b45"
            ]
        ]
    },
    {
        "id": "317a62295ff18b45",
        "type": "change",
        "z": "944205b3d812d46e",
        "name": "OK",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "357170178546d770"
            ]
        ]
    },
    {
        "id": "357170178546d770",
        "type": "http response",
        "z": "944205b3d812d46e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 220,
        "wires": []
    }
]
